# Env
.env

# Editor
.vscode/

.DS_Store

*.csv
*.zip

# Kestra storage
workflow-orchestration/kestra-storage/

.venv/
*.parquet
.env_encoded

kestra-gcp-key.json
.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod]
logs/queries05-data-platforms/bruin-taxi-pipeline/pipeline/nyc_taxi.duckdb
